#judul img {
    width: 50px; 
    height: 50px;
}

#judul hr{
	left: 77px;
	top: 196px;
	border: 4px solid; 
    background-color:#02668e;  
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    color:#02668e; 
    width: 300px; 
    border-radius: 32px;
}   
